@import "../variables";

.gallery-section {
  .gallery-header {
    .gallery-title {
      color: #5f5950;
      font-weight: bold;
      font-family: myFont;
      padding-bottom: 20px;
      span {
        color: $main-orange;
      }
      .gallery-paragraph {
        width: 500px;
      }
    }
  }
  .gallery-holder {
    .image-box {
      width: 360px;
      cursor: pointer;
      overflow: hidden;
      &:hover img {
        transform: scale(1.1);
      }
      img {
        width: 100%;
        transition: .4s;
      }
    }
  }
}
