@import "../variables";
.nav-bar {
  background-color: $background-black;
  .title {
    font-family: myFont;
    font-weight: 500;
    padding-left: 100px;
  }
  .nav-links {
    padding-right: 100px;
    .links {
      list-style: none;
      display: flex;
      align-items: center;
      gap: 20px;
      .link {
        text-decoration: none;
        li {
          color: #fff;
          transition: 0.3s;
        }
        .last {
          padding: 8px 25px;
          background-color: $main-orange;
          border-radius: 25px;
          transition: 0.3s;
        }
        .last:hover {
          color: #fff;
          background-color: $hover-orange;
        }
      }
      .link :hover {
        color: $hover-orange;
      }
    }
  }
}
