@import "../variables";

.nav-bar {
  background-color: rgba($color: #000000, $alpha: 0.9);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  .title {
    font-family: myFont;
    font-weight: 500;
    padding-left: 100px;
  }
  .nav-links {
    padding-right: 100px;
    .links {
      list-style: none;
      display: flex;
      align-items: center;
      gap: 20px;
      .link {
        text-decoration: none;
        li {
          color: #fff;
          transition: 0.3s;
        }
        .last {
          padding: 8px 25px;
          background-color: $main-orange;
          border-radius: 25px;
          transition: 0.3s;
        }
        .last:hover {
          color: #fff;
          background-color: $hover-orange;
        }
      }
      .link :hover {
        color: $hover-orange;
      }
    }
  }
  .rs-last {
    display: none;
    padding: 8px 25px;
    background-color: $main-orange;
    border-radius: 25px;
    transition: 0.3s;
    text-decoration: none;
    color: $white;
  }
  .icon {
    display: none;
    color: $white;
    font-size: 20px;
    margin-left: 10px;
  }
  input {
    opacity: 0;
  }
}

@media (max-width: 428px) {
  .nav-bar {
    .title {
      padding-left: 20px;
    }
    .nav-links {
      .links {
        display: none;
      }
    }
    .rs-last {
      display: block;
    }
    .icon {
      display: block;
    }
  }

  .nav-bar {
    input:checked {
      .nav-links .links {
        display: block;
      }
    }
  }
}
