.nav-bar {
  background-color: #3c3a39;
  .title {
    font-family: myFont;
    font-weight: 500;
    padding-left: 100px;
  }
  .nav-links {
    padding-right: 100px;
    .links {
      list-style: none;
      display: flex;
      align-items: center;
      gap: 20px;
      .link {
        text-decoration: none;
        li {
          color: #fff;
          transition: 0.3s;
        }
        .last {
          padding: 8px 25px;
          background-color: #ffb03b;
          border-radius: 25px;
          transition: 0.3s;
        }
        .last:hover {
          color: #fff;
          background-color: #ffa012;
        }
      }
      .link :hover {
        color: #ffa012;
      }
    }
  }
}
